@import "variables";

:host {
    display: block;
}

.product-image {
    width: 100%;

    .main-preview {
        min-height: 250px;
    }
}

.discount {
    font-size: 14px;
    color: $orange-pumpkin;
    min-height: 25px;
}

.alt-images {
    display: flex;
    flex-wrap: wrap;

    .alt-image {
        cursor: pointer;
        border: 6px solid transparent;

        img {
            min-width: 50px;
            min-height: 50px;
        }

        &.selected {
            border-color: #e1e1e1;
        }
    }
}

.product-name {
    @include media-breakpoint-down(sm) {
        font-size: 2.5rem;
    }
}

.product-variants {
   display: grid;
  grid-template-columns:repeat(5,1fr);
  grid-gap: 10px;

    &-asset {
        display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            // height: 50px;
            background-color: $gray-200;
            border: 1px solid $gray-400;
            box-shadow: inset 0px 0px 0px 4px $white;
            cursor: pointer;
            aspect-ratio:1/1;
    }
}

.description {
}

.options-selector {
    &-title {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-bottom: 15px;

        &-option {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            height: 50px;
            border: 1px solid $gray-400;
            cursor: pointer;
        }
        & .active {
            border: 2.5px solid $black;
        }
    }
}

.purchase-options {
    margin: $spacer * 2 0;
}

.add-to-cart-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
        button {
            width: 100%;
            margin-top: $spacer / 2;
        }
    }

    button {
        height: 60px;
        font-size: 14px;
    }
}

.variant-selector {
    margin-bottom: $spacer / 2;
}

.sku {
    //font-size: $font-size-lg;
    font-size: 13px;
    color: $gray-600;
    flex: 1;
}

.price {
    //font-size: $font-size-lg;
    font-weight: bold;
    display: flex;

    &-discount {
        font-weight: normal;
        text-decoration: line-through;
        color: $gray-500;
        margin-left: 5px;
    }
}

.qty {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 15px;
    input {
        height: 50px;
    }
}

.placeholder-breadcrumb {
    height: 24px;
    margin: $spacer;
}

.placeholder-title {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin-bottom: $spacer * 2;
}

.placeholder-description {
    height: 80px;
}

.placeholder-image {
    width: 100%;
    height: 350px;
    margin-bottom: $spacer * 4;
}
.add-to-cart-notification {
    display: flex;
    margin-bottom: $spacer;
    .thumb {
        img {
            width: 50px;
            height: 50px;
        }
    }
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-row-gap: $spacer;
    justify-content: space-around;
}
