<div class="container">
    <vsf-collection-breadcrumbs
        [breadcrumbs]="breadcrumbs"
        *ngIf="product"
        class="mb-2"
        [linkLast]="true"
    ></vsf-collection-breadcrumbs>
    <ng-template [ngIf]="product" [ngIfElse]="placeholder">
        <div class="row">
            <div class="col-12 col-md-8 text-center">
                <vsf-asset-gallery
                    [assets]="productAssets"
                    [selectedAssetId]="productAssets[0].id"
                ></vsf-asset-gallery>
            </div>
            <div class="col-12 col-md-4" #zoomPreviewArea>
                <h2 class="display-4 product-name">{{ product.name }}</h2>
                <!-- <div class="product-variants">
                    <div
                        *ngFor="let variant of product.variants; let i = index"
                    >
                     <div *ngIf="variant.assets.length > 0" class="product-variants-asset">
                         <img src="{{variant.assets[0].preview}}?preset=tiny" alt="">
                     </div>   
                    </div>
                </div> -->
                <div class="purchase-options">
                    <div class="options-selector">
                        <div
                            *ngFor="
                                let optionGroup of product.optionGroups;
                                let i = index
                            "
                        >
                            <div class="options-selector-title">
                                {{ optionGroup.name }}
                            </div>
                            <div class="options-selector-wrapper">
                                <div
                                    class="options-selector-wrapper-option"
                                    *ngFor="let option of optionGroup.options"
                                    (click)="onChangeOption(i, option.code)"
                                    [class.active]="options[i] === option.code"
                                >
                                    {{ option.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="variant-selector" *ngIf="product.variants.length > 1">
                        <select [(ngModel)]="selectedVariant" class="form-control">
                            <option *ngFor="let variant of product.variants"
                            [ngValue]="variant">{{ variant.name }}</option>
                        </select>
                    </div> -->
                    <div class="options-selector-title">Quantity</div>
                    <div class="qty">
                        <input
                            type="number"
                            min="0"
                            max="99"
                            placeholder="Qty"
                            [(ngModel)]="qty"
                            class="form-control form-control-md"
                        />
                    </div>
                    <div class="d-flex flex-row-reverse discount">
                        <div *ngIf="selectedVariant?.customFields.discount">
                            {{ selectedVariant?.customFields.discount }} % de
                            réduction
                        </div>
                    </div>
                    <div class="add-to-cart-row">
                        <div class="sku">
                            {{ selectedVariant?.sku }}
                        </div>
                        <div class="price">
                            <div>
                                {{
                                    selectedVariant?.priceWithTax | formatPrice
                                }}
                            </div>
                            <div
                                class="price-discount"
                                *ngIf="selectedVariant?.customFields.discount"
                            >
                                {{
                                    selectedVariant?.priceWithTax | formatPrice
                                }}
                            </div>
                        </div>
                        <button
                            [disabled]="qty === 0"
                            class="btn btn-primary btn-block my-2"
                            (click)="addToCart(selectedVariant, qty)"
                        >
                            <fa-icon
                                icon="shopping-cart"
                                class="mr-1"
                            ></fa-icon>
                            Add to cart
                        </button>
                    </div>
                </div>
                <strong>Description</strong>
                <div
                    class="description"
                    [innerHTML]="product.description"
                ></div>
            </div>
        </div>
    </ng-template>
    <ng-template #placeholder>
        <div class="placeholder-breadcrumb loading-placeholder"></div>
        <div class="row">
            <div class="col-12 col-md-7 text-center">
                <div class="product-image">
                    <div class="placeholder-image loading-placeholder"></div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="placeholder-title loading-placeholder"></div>
                <div class="placeholder-description loading-placeholder"></div>
            </div>
        </div>
    </ng-template>
    <h4 class="display-4 mt-5">Related product</h4>
    <div class="product-list">
        <ng-container *ngIf="productRelatedLoaded$ | async; else placeholders">
            <vsf-product-card
                *ngFor="let product of productRelated$ | async"
                [product]="product"
            ></vsf-product-card>
        </ng-container>
        <ng-template #placeholders>
            <vsf-product-card
                *ngFor="let product of placeholderProducts"
                [product]="product"
            ></vsf-product-card>
        </ng-template>
    </div>
</div>

<ng-template
    #addedToCartTemplate
    let-variant="variant"
    let-quantity="quantity"
    let-close="closeFn"
>
    <div class="add-to-cart-notification">
        <div class="thumb mr-2">
            <img
                class=""
                [src]="
                    (variant.featuredAsset?.preview ||
                        product.featuredAsset?.preview) + '?preset=tiny'
                "
                alt="product thumbnail"
            />
        </div>
        <div>{{ quantity }} x {{ variant.name }}</div>
    </div>
    <button
        class="btn btn-sm btn-outline-primary btn-block"
        (click)="viewCartFromNotification(close)"
    >
        View cart
    </button>
</ng-template>
