<div class="my-5 footer-banner">
    <div class="row">
        <div
            class="col-md-3 col-sm-12 d-flex flex-column align-items-center justify-content-center"
        >
            <img src="assets/icons/credit-card-svgrepo-com.svg" alt="bag" height="60" />
            <strong class="my-3">Secure payment</strong>
        </div>
        <div
            class="col-md-3 col-sm-12 d-flex flex-column align-items-center justify-content-center"
        >
            <img src="assets/icons/shipped-truck-svgrepo-com.svg" alt="bag" height="60" />
            <strong class="my-3 text-center">Free delivery from 200€ of purchase</strong>
        </div>
        <div
            class="col-md-3 col-sm-12 d-flex flex-column align-items-center justify-content-center"
        >
            <img src="assets/icons/present-1-svgrepo-com.svg" alt="bag" height="60" />
            <strong class="my-3">Free returns in France</strong>
        </div>
        <div
            class="col-md-3 col-sm-12 d-flex flex-column align-items-center justify-content-center"
        >
            <img src="assets/icons/location-1-svgrepo-com.svg" alt="bag" height="60" />
            <strong class="my-3">Worldwide delivery</strong>
        </div>
    </div>
</div>
