<div *ngIf="cart$ | async as cart;">
    <button class="btn btn-light position-relative"
            (click)="toggle.emit()"
            title="cart">
        <img src="assets/icons/bag-svgrepo-com.svg" height="30" width="25">    
        <!-- <fa-icon icon="shopping-cart" class="mr-1"></fa-icon> -->
        <span class="badge badge-pill badge-primary qty-indicator"
              [class.empty]="cart.quantity === 0"
              [class.cart-changed]="cartChangeIndication$ | async">{{ cart.quantity }}</span>
    </button>
</div>
