@import 'variables';

.header {
    background-color: white;
    // border-bottom: 1px solid $black;

    > .container {
        display: flex;
        align-items: center;
        padding: 6px;
    }
}

.logo-link {
    display: flex;
    align-items: center;

    img.logo {
        max-height: 50px;
    }

    &:link, &:visited {
        color: #0e95c7;
        font-size: 22px;
    }
}
