<div *ngIf="activeCustomer$ | async as customer; else notLoggedIn">
    <a class="btn btn-light" [routerLink]="['/account']">
        <img src="assets/icons/user-svgrepo-com.svg" height="30" width="25" />
        <span class="d-none d-sm-inline ml-1">{{ userName(customer) }}</span>
    </a>
</div>
<ng-template #notLoggedIn>
    <a class="btn btn-light" [routerLink]="['account/sign-in']">
        <img src="assets/icons/user-svgrepo-com.svg" height="30" width="25" />
        <span class="d-none d-sm-inline ml-1">{{"SIGN-IN.account" | translate}}</span></a
    >
</ng-template>
