@import "variables";

:host {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.filters-title {
    padding: $spacer / 2;
    padding-left: $spacer / 3;
    text-transform: uppercase;
    border-bottom: 1px solid $gray-200;
    margin-bottom: $spacer / 2;
    color: $gray-600;
}

.filters-button {
    text-transform: uppercase;
    color: $orange-pumpkin;
    border: none;
    background: none;
    font-size: 13px;
}

.filters-wrapper {
    overflow: hidden;
    max-height: 0;
    &.expanded {
        max-height: initial;
    }

    input[type="checkbox"] {
        display: none;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    &-checkbox {
        width: 15px;
        height: 15px;
        border: 1px solid $gray-700;
        cursor: pointer;

        &.active {
            background-color: $orange-pumpkin;
            box-shadow: inset 0px 0px 0px 1.5px #FFFFFF;
        }
    }
}

.facet-group {
    margin-bottom: $spacer;

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        transition: color 0.2s;
        label {
            display: flex;
            align-items: baseline;
            min-width: 77px;
        }
    }

    &.enabled li:not(.active) {
        color: $gray-500;
    }
}

button.facet-name {
    font-size: $font-size-sm;
    color: $gray-600;
    padding: 0 $spacer / 3;
    margin-right: $spacer / 2;
    text-transform: uppercase;
    transition: color 0.3s;
    border: none;
    background: none;
}

@include media-breakpoint-up(md) {
    .filters-wrapper {
        max-height: initial;
    }
    .facet-group {
        ul {
            display: initial;
        }
    }
}

