<div class="cart-drawer-header">
    <button class="btn" (click)="close.emit()">
        <fa-icon icon="times"></fa-icon>
    </button>
    <h3 class="cart-title">Cart</h3>
</div>
<div *ngIf="!(isEmpty$ | async); else empty" class="cart-drawer-contents">
    <vsf-cart-contents
        [cart]="cart$ | async"
        [canAdjustQuantities]="true"
        (setQuantity)="setQuantity($event)"
    ></vsf-cart-contents>
    <div class="checkout-button">
        <a
            class="btn btn-block btn-primary"
            color="primary"
            (click)="close.emit()"
            [routerLink]="['/checkout']"
            >Check Out</a
        >
    </div>
</div>
<ng-template #empty>
    <div class="empty">
        <div class="empty-icon">
            <img
                src="assets/icons/bag-svgrepo-com.svg"
                height="40"
                width="35"
            />
        </div>
        <div class="my-3">Cart is empty</div>
    </div>
</ng-template>
