@import "variables";

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    height: 100vh;
    min-width: 200px;
    max-width: 440px;
    padding: $spacer;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(450px);
    transition: transform 0.3s;
    background-color: $gray-100;
    z-index: $zindex-dropdown;
    box-shadow: $box-shadow;

    @include media-breakpoint-up(md) {
        min-width: 400px;
    }

    &.visible {
        transform: translateX(0);
    }

}

.cart-drawer-header {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: $spacer;
    flex: none;
}

.cart-title {
    font-weight: $font-weight-light;
}

.cart-drawer-contents {
    display: flex;
    height: 10px;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

vsf-cart-contents {
    max-height: 80vh;
    overflow: auto;
}

.checkout-button {
    margin-top: $spacer * 3;
    display: flex;
    flex-direction: column;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: $gray-500;

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        color: $white;
        border-radius: 5px;
        border: dashed 1px $black;
    }
}
