@import "variables";

a.btn {
    background-color: transparent;
    border: none;

    &:hover {
        background-color: $light;
    }
}

.translate-link {
    position: relative;

    & > a > span {
        margin-left: 5px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &-list {
        position: absolute;
        right: 0;
        z-index: 1;
        width: 120px;
        background-color: $white;
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.3);
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            color: $black;
            font-size: 14px;
            cursor: pointer;
            
            &:not(:last-child) {
                border-bottom: 1px solid $black;
            }
            
            &:hover {
                background-color: $light;
                font-weight: bold;
                
            }
        }
    }
}