<div class="translate-link">
    <a class="btn btn-light" (click)="open = !open">
        <img
            src="assets/icons/earth-1-globe-svgrepo-com.svg"
            height="30"
            width="25"
        />
        <span>{{'HEADER.language' | translate}}</span>
    </a>

    <div class="translate-link-list" *ngIf="open">
        <a class="translate-link-list-item" *ngIf="translate.currentLang !== 'en'" (click)="handleLang('en')"> English (en)</a>
        <a class="translate-link-list-item" *ngIf="translate.currentLang !== 'fr'" (click)="handleLang('fr')"> Français (fr)</a>
    </div>
</div>
