<form #signInForm="ngForm"
      (submit)="signIn()">
    <vsf-centered-card>
            <input class="form-control"
                   placeholder="{{'SIGN-IN.email' | translate}}"
                   name="emailAddress"
                   type="email"
                   email
                   required
                   [(ngModel)]="emailAddress">
            <input class="form-control mt-1"
                   placeholder="{{'SIGN-IN.password' | translate}}"
                   type="password"
                   name="password"
                   required
                   [(ngModel)]="password">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe" [(ngModel)]="rememberMe">
          <label class="form-check-label" for="rememberMe">
            {{'SIGN-IN.remember-me' | translate}}
          </label>
        </div>

        <button class="btn btn-primary btn-block mt-3"
                [disabled]="signInForm.invalid || signInForm.pristine"
                type="submit">
            Sign In
        </button>
        <div class="alert alert-warning invalid-credentials" role="alert"  [class.visible]="invalidCredentials">
            {{'SIGN-IN.invalid-cred' | translate}}<br>
            <a [routerLink]="['/account/forgotten-password', { email: this.emailAddress }]">{{'SIGN-IN.forgotten-password' | translate}}</a>
        </div>

        <div *ngIf="displayRegisterLink" class="register-link">
            <a [routerLink]="['/account/register']">{{'SIGN-IN.register' | translate}}</a>
        </div>
    </vsf-centered-card>
</form>
