<div class="newsletter">
    <div class="container py-4 text-center">
        <img src="assets/icons/email-svgrepo-com.svg" height="60">
        <h4>Newsletter</h4>
        <p>{{ "NEWSLETTER.description" | translate }}</p>
        <div class="row d-flex justify-content-center">
            <input
                class="form-control mt-1 col-md-6 col-sm-12"
                placeholder="{{ 'REGISTER.email' | translate }}"
                name="emailAddress"
                required
                type="email"
                email
            />
        </div>
        <div>
            <button class="btn btn-primary mt-3" type="submit">
                {{ "NEWSLETTER.button" | translate }}
            </button>
        </div>
    </div>
</div>
