@import "variables";

:host {
    display: block;
    position: relative;
    padding: $spacer / 2 $spacer;
    overflow: hidden;
    margin: $spacer;
}

.card-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(1px);
    transform: scale(1.02);
    opacity: 0.3;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 0.2s, opacity 0.2s;
}

a:hover {
    .card-background {
        filter: blur(0);
        opacity: 0.2;
    }

    text-decoration: none;
}

.collection-name {
    z-index: 1;
    position: relative;
    text-decoration: none;
    color: #596e84;
    mix-blend-mode: darken;
    text-shadow: 0px 0px 15px $light;
}

.card-home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray-200;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;

    &-title {
        font-weight: 800;
        font-size: 54px;
        color: $white;
    }
}
