<a [routerLink]="['/category', collection.slug]" *ngIf="!homePage; else forHomePage">
    <div class="card-background" [style.background-image]="backgroundImage"></div>

    <h3 class="display-4 collection-name">{{ collection.name }}</h3>
</a>

<ng-template #forHomePage>
    <div class="card-home-page" [style.background-image]="backgroundImage">
        <div class="card-home-page-title">{{collection.name}}</div>
        <a [routerLink]="['/category', collection.slug]" class="btn btn-primary">Découvrir</a>
    </div>
</ng-template>